.myBody {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #173CE8;
}

.myCoverImage {
    width: 100%;
}

.myQuestion {
    min-height: 50px;
    text-align: start;
    background-color: #173de812;
}

.myButtonAnswer {
    margin-left: 20px;
    margin-right: 20px;
}

.myButtonNext {
    
}

.cardFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
}