.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007aff !important;
}

.quiz-card {
    justify-content: center;
    align-items: center;
    width: 80vw;
}

#questiontext {
    font-size: 24px;
}

.question-footer {
    border-top: 1px solid rgb(0, 0, 0, 0.4);
    padding-top: 12px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.05);
}

#nextButton {
    color: white;
    height: 80px;
    width: 260px;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

#endBody {
    display: flex;
    flex-direction: column;
}

#startBody {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

#questBody {
    padding-bottom: 50px;
    max-width: 80vw;
    font-size: 24px;
    text-align: center;
}

#endBody {
    padding-bottom: 50px;
}

.progress {
    width: 100%;
}

.answerBody{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-body {
    padding: 4px !important;
}

.flagL {
    height: 30px;
    border: 1px solid black;
    margin-left: 5px;
}

.flagR {
    border: 1px solid black;
    height: 30px;
    margin-right: 5px;
}
